<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Caas</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>   
</head>
<body>    
  <app-root></app-root>
<script type="text/javascript" src="csvscripts/inline.bundle.js"></script>
<script type="text/javascript" src="csvscripts/polyfills.bundle.js"></script>
<script type="text/javascript" src="csvscripts/scripts.bundle.js"></script>
<script type="text/javascript" src="csvscripts/styles.bundle.js"></script>
<script type="text/javascript" src="csvscripts/vendor.bundle.js"></script>
<script type="text/javascript" src="csvscripts/main.bundle.js"></script></body>
</html>
